<div class="top-bar">
    <a class="logo" href="">
        <img src="@ImagePath/logo.svg"/>
    </a>
    <NavLink class="nav-tabs " href="" Match="NavLinkMatch.All">
        <img src="@ImagePath/pizza-slice.svg"/>
        <div>@Messages.ChoosePizzaLinkText</div>
    </NavLink>

    <NavLink class="nav-tabs " href="orders">
        <img src="@ImagePath/bike.svg"/>
        <div>@Messages.MyOrdersText</div>
    </NavLink>
</div>

