<div class="top-bar">
    <a class="logo" href="">
        <img src="@ImagePath/logo.svg"/>
    </a>
    <a class="nav-tabs active" href="">
        <img src="@ImagePath/pizza-slice.svg"/>
        <div>@Messages.ChoosePizzaLinkText</div>
    </a>
</div>

